.background {
  position: relative;
  width: 1286px;
  height: 574px;
  background: green;
}

.ground {
  position: absolute;
  width: 1286px;
  height: 120px;
  bottom: 0;
  background: blue;
}

.player {
  position: absolute;
  width: 72px;
  height: 106px;
  left: 120px;
  bottom: 120px;
  background: red;
  //content: url(img/player-img.png);
}

.obstacle1 {
  position: absolute;
  width: 20px;
  height: 60px;
  left: 1286px;
  bottom: 120px;
  background: yellow;
  //opacity: 0;

  &.visible {
    opacity: 1;
  }
}

.foreground-1 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 1286px;
  height: 469px;
  content: url(../assets/img/foreground-1.png);
}

.foreground-2 {
  position: absolute;
  left: 1286px;
  bottom: 0px;
  width: 1420px;
  height: 469px;
  content: url(../assets/img/foreground-2.png);
}

.background-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1286px;
  height: 490px;
  content: url(../assets/img/background-1.jpg);
}

.background-2 {
  position: absolute;
  left: 1286px;
  top: 0px;
  width: 1422px;
  height: 490px;
  content: url(../assets/img/background-2.jpg);
}

.mask {
  position: absolute;
  width: 100vw;
  height: 574px;
  left: 1286px;
  background-color: white;
}