body {
  background-image: url(../assets/img/cyberpunhomepagegif.png);
  background-repeat: no-repeat;
}

@font-face {
  font-family: "Pixeled";
  src: url("/font/Pixeled.ttf") format("ttf"),
    url("/font/Pixeled.ttf") format("truetype");
}

@font-face {
  font-family: "Vermin VIbes 1989";
  src: url("/font/Vermin\ Vibes\ 1989.ttf") format("ttf"),
    url("/font/Vermin\ Vibes\ 1989.ttf") format("truetype");
}

.home {
  width: 1286px;
  height: 574px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.home__title {
  font-family: "Vermin Vibes 1989";
  font-size: 170px;
  color: #ff00c7;
  text-align: center;
  text-shadow: #ffffff 5px 5px, #ffffff -1px 2px, #ffffff -1px -1px,
    #ffffff -1px -1px;
}

.home__play {
  font-size: 20px;
  margin-top: 45px;
  color: #ffffff;
  font-family: "Pixeled";
  span {
    animation: twinkle 1s infinite;
  }
}

@keyframes twinkle {
  to {
    opacity: 0.7;
  }
  from {
    opacity: 1;
    text-shadow: #ff00c7 2px 2px, #ffffff -2px 2px, #ff00c7 -1px -1px,
      #ffffff -1px -1px;
  }
}

.home__instructions {
  margin-top: 65px;
  background-color: #ff00c7;
  width: 245px;
  height: 55px;
  text-align: center;
  border: none;
  border-radius: 15px;
  p {
    font-size: 12px;
    padding-top: 20.5px;
    color: #ffffff;
    text-align: center;
    font-family: "Pixeled";
    text-align: center;
  }
  &:hover {
    background-color: black;
  }
}

.instructions {
  display: none;
}
