body{
  background-image: url(../assets/img/cyberpunhomepagegif.png);
  background-repeat: no-repeat;
}


.home{
  width:1286px;
  height: 574px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  
}
.home__title{
  font-family: "Pixeled";
  font-size: 170px;
}

.home__play{
  font-size: 40px;
  margin-top: 20px;
  color: #ffffff;
}

.home__instructions{
  margin-top:20px;
    
    background-color: #FF00C7;
    width: 170px;
    height: 55px;
    text-align: center;
    border: none;
    border-radius: 5px;
    p{
      font-size: 20px;
      padding-top: 18px;
      color: #ffffff;
      text-align: center;
    }
   &:hover{
      background-color: black;
    }
  }

  


