//@include font-face(Vermin, fonts/Vermin);

/*@font-face{
  font-family: "Pixeled";
  src: url("/font/Pixeled.ttf") format("ttf"),
  url("/font/Pixeled.ttf") format("truetype");
}
@font-face{
  font-family: "Vermin";
  src: url(../assets/font/Vermin\Vibes\1989.ttf) format("ttf");
}*/